/* Gallery Section */
.gallery-section {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 0; /* Removed left padding */
    padding-right: 0; /* Removed right padding */
}

.gallery-title {
    margin-top: 35px; 
    padding: 5px 0;  
}

.gallery-title h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

/* Gallery Image */
.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Upload Button Styling */
#uploadBtn {
    font-size: 1.25rem;
    padding: 10px 20px;
}

#fileInput {
    display: none; /* Hidden file input */
}

